/*variables*/
:root {
--caps: uppercase;
--grey:  #EFEFEF;
--brown: color: #301919;
}



body {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16 px;
  margin: 0;
}


/*bandeau de recherche*/

.container_nav {

  width: 35%;
  margin: 0 80px;
}

nav {
  background-color: white;  
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

nav .container_nav {
  display: flex;
  justify-content: space-evenly; 
  align-items: center;  
  height: 65px;
  margin: 0 1180px;
}

#search {

  width: 356px;
  height: 39px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: url(./icones/loupe.svg) no-repeat;
  background-size: 25px 24px;
  background-position: 10px 7px;
}


.burger {
display: none;

}


/*header*/

header {
background-color: var(--grey);
height: 297px;
/*box-shadow: 0px 1px 3px rgb(180, 180, 180);*/

}


header img {
  width: 550px;
  height: auto;
  margin-top: -58px;
 }


 .centrage_image {
 
 text-align: center;

}

header ul {

  list-style-type: none;
  margin-top: 40px;
  text-align: center;

  
}

header li a {
   
  text-decoration: none;
  font-size: 16px;
  color: rgb(19, 18, 18);
  margin: 40px;
  
}

header li {
  display: inline;
  text-transform: var(--caps);
}

 
/*première section*/


.container_main section {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  height: 650px;
  width: auto;
}

#perceusegauche {
width: 500px;
height: auto;
margin-top: 50px;
margin-left: 130px;

}



.btn {

color: var(--white);
text-transform: var(--caps);
text-decoration: none;
font-weight: 600;
background-color:  #E16F52;
padding: 10px 45px;
border-radius: 70px;
box-shadow: 6px 5px 5px rgb(202, 202, 202);
margin-top: 60px;

}


#section1_gche h4 {
  
  margin-bottom: 40px;
  font-size:24px;
}

#section1_gche h3 {
  
  font-size:24px;
}


#section1_gche h2 {

  margin-top: -120px;
  font-size: 36px;
  font-weight: 200;
}

#section1 div {

  margin:auto;
  text-transform: var(--caps);

}

#section1_gche {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;

}


 #icones_gche li {

  display: inline-block;
  list-style-type: none;
  margin-right: 5px;
  flex-wrap: nowrap;

}

div #icones_gche {
  margin: auto;
  transform: translateY(100px);
}

#icones_gche img {

  width: 90%;
  height: auto;
  text-align: center;
 
}

#baselines_gche li {

  display: inline-block;
  list-style-type: none;
  transform: translateY(150px);
  padding-right: 100px;
  font-size: 22px;
  color:rgb(79, 79, 79)
  
}

#baselines_gche {

  margin-left: 105px;
}





/*bandeaux gris*/

.grey {

  background-color: var(--grey);
  height: 97px
}

/*2ème section-gallery*/

#gallery {

  height: 1100px;
  display: flex;
  flex-direction: column;
 
}



.btn2 {

  color: var(--white);
  text-transform: var(--caps);
  text-decoration: none;
  font-weight: 600;
  background-color:  #E16F52;
  padding: 10px 45px;
  border-radius: 70px;
  box-shadow: 6px 5px 5px rgb(202, 202, 202);
 
  
  }

#bouton2 {

  transform: translateY(-50px);
  
}


#avis {

  margin-left: 90px;
  transform: translateY(16px);
}


/*troisième section livraison*/

#livraison {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 527px;
  background-color: white;
  /*box-shadow: 0px 1px 3px rgb(180, 180, 180);*/
}


#livraison p {
  text-align: center;
  white-space: pre-wrap;
  margin-top: 20px;
  font-size: 22px;
 
}


#livraison img {
  text-align: center;
   margin: auto;
   margin-bottom: 20px;
}


#tel {

  transform: translateX(50px);
}




#livraison #avis {

  width: 80%;
  height: auto;
  margin-bottom: 100px;
}




/*footer*/

footer {
  display: flex;
  align-items: left;
  background-color: var(--grey);
  height: 250px;
 
 
  
}

footer li {
  list-style-type: none;
  font-size: 12px;
  line-height: 5px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 28px;
  width: 250px;
}

.vl {

  border-left: 1px solid rgb(168, 168, 168);
  height: 120px;
  margin-top: 50px;
  margin-left: 150px;
}


footer img {

width: 150%;
height: auto;
margin-top: 30px;
margin-left: 100px;
margin-right: -250px;


}

footer div {
width: 150px;
margin-left: 60px;

}




