#container {
width: 100%;
height: 100vh;
display: grid;
grid-template-rows: 371px 710px 97px 1122px 97px 527px 386px;
grid-template-columns: 1fr 2fr 0.5fr;

}



body {

    margin: 0px;
    padding: 0px;
}



.section1 {


}

.boutonjedecouvre {

    background-color: #E16F52;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border: none;
        color: black;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 34px;
        margin: 4px 2px;
        cursor: pointer;
}

.logo {

    width: 467px;
    height: 256px;
    z-index: 2;
    position: relative;
    margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color : black;

}

ul {
    list-style-type: none;
    

}


li a {

    
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    color : black;
   
}

li {
    display: inline;
    margin-right: 5px;
    font-variant-caps: small-caps;
    
  }

  .recherche {

    width: 356 px;
    height: 39 px;
  }

  .texteheader1 {

    font-weight: bold;
  }

  .texteheader2 {

    font-weight: bold;
  }