html {
/*height: 100%;*/
box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

.container_gallery {
    display: flex;
    justify-content: center;
    margin: auto;
    transform: translateY(-35px);
}


.line_gallery {  /*petite ligne verticale qui sépare le container et les thumbnails*/

  border-left: 1px solid rgb(168, 168, 168);
  height: 600px;
  margin: auto;
  transform: translateX(350px);
  
  
}

.thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin-left: 400px;
    transform: translateY(-5px);
}

.thumbnails li {
    flex: auto;
    list-style: none;
    margin-top: 35px;
}



.container_gallery .thumbnails a {
    display: block;
    list-style-type: none;
    
}

.thumbnails img {

    width: 150px;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.slides {
    
    overflow: hidden;
    width: 800px;
    height: 600px;
}

.slides li {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: 1;
    list-style: none;
    


}

.slides img {
    height: 800px;
    object-fit: cover;
    object-position: top;
    
}

.slides li:target {
    z-index: 3;
   
}



/*Version Mobile*/

@media (max-width : 870px) { 

    html {
    scroll-behavior: smooth;
    
}




    .line_gallery {

        display: none;
              
      }


      


      .container_gallery {
        display: flex;
        justify-content: flex-start;
        margin-top: 100px;
              
            }


         .thumbnails {
                display: flex;
                flex-direction: row;
                line-height: 0;
                transform: translateY(450px);
                margin-left: -20px;
                
            }
            
        .thumbnails li {
                flex: auto;
                list-style: none;
                
            }
            
            
            
         .container_gallery .thumbnails a {
                display: block;
                list-style-type: none;
                
            }
            
        .thumbnails img {
            
                width: 75px;
                height: auto;
                object-fit: cover;
                object-position: top;
            }
            

            .slides {
    
                overflow: hidden;
                width: auto;
                height: 250px;
                padding-left: 20px;
            }
            
            .slides li {
                width: auto;
                height: 250px;
                position: absolute;
                z-index: 1;
                list-style: none;
                
            
            
            }
            
            .slides img {
                height: 250px;
                object-fit: cover;
                object-position: top;
                
            }







}



