html {
/*height: 100%;*/
box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
margin: 0;
padding: 0;
}

.container_gallery {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    transform: translateY(50px);
}

.thumbnails {
    display: flex;
    flex-direction: column;
    line-height: 0;
    margin-left: 100px;
    margin-bottom: 50px;
}

.thumbnails li {
    flex: auto;
    list-style: none;
    
}

.container_gallery .thumbnails a {
    display: block;
    list-style-type: none;
    
}

.thumbnails img {

    width: 150px;
    height: auto;
    object-fit: cover;
    object-position: top;
}

.slides {
    
    overflow: hidden;
    width: 720px;
    height: 220px;
}

.slides li {
    width: 500px;
    height: 220px;
    position: absolute;
    z-index: 1;
    list-style: none;
    


}

.slides img {
    height: 400px;
    object-fit: cover;
    object-position: top;
    
}

.slides li:target {
    z-index: 3;
    animation: slide 1s 1;
}

.slides li:not(:target) {
animation: hidden 1s 1;

}


